@keyframes ldio-7znirwuftg4-1 {
    0% { top: 36px; height: 128px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
}
@keyframes ldio-7znirwuftg4-2 {
    0% { top: 41.99999999999999px; height: 116.00000000000001px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
}
@keyframes ldio-7znirwuftg4-3 {
    0% { top: 48px; height: 104px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
}
.ldio-7znirwuftg4 div { position: absolute; width: 30px }.ldio-7znirwuftg4 div:nth-child(1) {
    left: 35px;
    background: #93dbe9;
    animation: ldio-7znirwuftg4-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
}
.ldio-7znirwuftg4 div:nth-child(2) {
    left: 85px;
    background: #689cc5;
    animation: ldio-7znirwuftg4-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
}
.ldio-7znirwuftg4 div:nth-child(3) {
    left: 135px;
    background: #5e6fa3;
    animation: ldio-7znirwuftg4-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-0xjpjhx0lbxl {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-7znirwuftg4 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-7znirwuftg4 div { box-sizing: content-box; }

.main_menu nav > ul > li .mega_menu.user_account {
    min-width: 40%;
    left: unset;
    padding: 10px 20px;
}
ul.mega_menu_inner.user_account {
    display: block;
}
ul.mega_menu_inner.user_account li {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}
ul.mega_menu_inner.user_account li a {
    margin-bottom: 0;
}

.mouse{

}
.mouse:hover {
    cursor: pointer;
}

.text-primary{
     color: #c40316 !important;
}

.btn-primary {
    color: #fff;
    background-color: #c40316 !important;
    border-color: #c40316 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #222222 !important;
    border-color: #222222 !important;
}
.link{
    text-decoration: underline;
    color: #0062cc !important;
}

.error{
    color: #c40316;
}



/* mini-cart Style */

.cart_item {
    padding: 11px 7px;
}
.mini_cart {
    padding: 0 20px 0;
}
.mini_cart_wrapper:hover .mini_cart {
    padding: 18px 20px 30px;
}
.mini_cart_inner {
    max-height: 350px;
    overflow-y: auto;
}
/* Width */
.mini_cart_inner::-webkit-scrollbar {
    width: 6px;
}
/* Track */
.mini_cart_inner::-webkit-scrollbar-track {
    background: #f1f1f1;
}
   
  /* Handle */
.mini_cart_inner::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
  
  /* Handle on hover */
.mini_cart_inner::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* mini-cart END */